# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
staticfiles/

# VSCode
.vscode/

# Pytest
.pytest_cache/

# Migrations (по желанию)
**/migrations/*.py
!**/migrations/__init__.py

# macOS / Windows
.DS_Store
Thumbs.db
