{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class=" pt-2 ps-3 pe-3 pb-2">
        <div class="d-flex flex-column align-items-center">
            <img class="rounded-5" src="{%  static 'main/img/fragrancesLavel.png' %}" alt="">
            <h6 class="mt-5 fw-bold">UNISEX / FRAGRANCES</h6>
            <label class="mt-3 fs-4">Replica</label>
            <p class="fw-medium text-center w-50 mt-2" style="font-size: 11px">
                Maison Margiela’s fragrances are created according 
                to the poetic and philosophical principles at the core of the house. 
                The genderless perfumes, colognes and scented candles distil the evocations, 
                feelings and sensations that course through the designs of Maison Margiela. From
                the seductive euphoria of Mutiny – the eau de parfum conceived by Creative Director John Galliano – to the floral notes of Untitled,
                each fragrance filters the codes of the house into inimitable sensorial experiences. Founded in memories, the signature Replica eau de 
                toilettes conjure the familiar scents of emotions and experiences.
            </p>
        </div>
        <div class="container my-5">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                
                <!-- Карточка товара -->
                <div class="col">
                    <div class="card border-0 text-center">
                        <img src="{% static 'main/img/euDeParfum.png' %}" class="card-img-top rounded-4" alt="Product 1">
                        <div class="card-body">
                            <h6 class="card-title">Replica Dancing on the Moon Eau de Parfum</h6>
                            <p class="fw-bold">$220</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 text-center">
                        <img src="{% static 'main/img/euDeParfum.png' %}" class="card-img-top rounded-4" alt="Product 1">
                        <div class="card-body">
                            <h6 class="card-title">Replica Dancing on the Moon Eau de Parfum</h6>
                            <p class="fw-bold">$220</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 text-center">
                        <img src="{% static 'main/img/euDeParfum.png' %}" class="card-img-top rounded-4" alt="Product 1">
                        <div class="card-body">
                            <h6 class="card-title">Replica Dancing on the Moon Eau de Parfum</h6>
                            <p class="fw-bold">$220</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 text-center">
                        <img src="{% static 'main/img/euDeParfum.png' %}" class="card-img-top rounded-4" alt="Product 1">
                        <div class="card-body">
                            <h6 class="card-title">Replica Dancing on the Moon Eau de Parfum</h6>
                            <p class="fw-bold">$220</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 text-center">
                        <img src="{% static 'main/img/euDeParfum.png' %}" class="card-img-top rounded-4" alt="Product 1">
                        <div class="card-body">
                            <h6 class="card-title">Replica Dancing on the Moon Eau de Parfum</h6>
                            <p class="fw-bold">$220</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 text-center">
                        <img src="{% static 'main/img/euDeParfum.png' %}" class="card-img-top rounded-4" alt="Product 1">
                        <div class="card-body">
                            <h6 class="card-title">Replica Dancing on the Moon Eau de Parfum</h6>
                            <p class="fw-bold">$220</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 text-center">
                        <img src="{% static 'main/img/euDeParfum.png' %}" class="card-img-top rounded-4" alt="Product 1">
                        <div class="card-body">
                            <h6 class="card-title">Replica Dancing on the Moon Eau de Parfum</h6>
                            <p class="fw-bold">$220</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 text-center">
                        <img src="{% static 'main/img/euDeParfum.png' %}" class="card-img-top rounded-4" alt="Product 1">
                        <div class="card-body">
                            <h6 class="card-title">Replica Dancing on the Moon Eau de Parfum</h6>
                            <p class="fw-bold">$220</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}